.index-container {
  padding-left: 100px;
  padding-right: 100px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card {
  flex-grow: 0;
  margin: 20px;
  text-align: left;
}

.center {
  justify-content: center;
  text-align: center;
}
