<div class="footer">
<%= link_to "OVERDRESSED", root_path, class: "logo-footer" %>
      <div class="footer-copyright">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
