<!doctype html>
<html>

<head>
<title>Overdressed</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<section class="banner body-center">
  <img src = "https://res.cloudinary.com/dpjxlsdtk/image/upload/v1653996934/costume_homepage_mjs2p1.png" class = "banner-img">
  <h1>Rent all the best costumes</h1>
  <form action = "/" method = "GET" class = "form">
    <input type="text" placeholder="What are you searching for today?" class = "search-field">
    <button type="submit" class = "search-button"><i class="fa fa-search"></i></button>
  </form>
</section>

<br>
<br>

  <div class = "featured-sub-items-cards">
  <h2> Featured <h2>
  <div class = "card-container">

    <div class = "card">
      <div class="card-item-image" style="background-image: url(https://res.cloudinary.com/dpjxlsdtk/image/upload/v1654005952/Image_1_fmvpvp.png)">
      </div>
          <p> UK 12 / M </p>
          <h3>Costume Name</h3>
          <h4><strong>Rent</strong> from £50</h4>
    </div>


    <div class = "card">
      <div class="card-item-image" style="background-image: url(https://res.cloudinary.com/dpjxlsdtk/image/upload/v1654005952/Image2_kpdskf.png)">
      </div>
          <p> UK 4 / XS </p>
          <h3>Great Gatsby</h3>
          <h4><strong>Rent</strong> from £50</h4>
    </div>


    <div class = "card">
      <div class="card-item-image" style="background-image: url(https://res.cloudinary.com/dpjxlsdtk/image/upload/v1654005952/Image3_lbdq68.png)">
      </div>
          <p> UK 6 / S </p>
          <h3>Blanket</h3>
          <h4><strong>Rent</strong> from £30</h4>
    </div>


    <div class = "card">
      <div class="card-item-image" style="background-image: url(https://res.cloudinary.com/dpjxlsdtk/image/upload/v1654005949/Image4_ud8yow.png)">
      </div>
          <p> UK 10 /  </p>
          <h3>Jessica Rabbit</h3>
          <h4><strong>Rent</strong> from £50</h4>
    </div>

    </div>

    <button class = "explore-btn">Explore all</button>
    </div>



<br>
<br>
<section class="featured-items body-center">
<h2>We're giving costumes<br>a second chance</h2>
<br>
<br>
<p>We're taking costumes for a ride. With thousands of single-use costumes being thrown out every year,<br>we're making it our business to
undo what it started, one rental at a time.</p>
</section>


</body>
</html>
