.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $white;
  font-family: 'Righteous', cursive;
  margin: 0px;
  width: 100%;
  padding: 16px;


.logo {
  font-family: 'Righteous', cursive;
  color: $purple;
  text-decoration: none;
}

.sign-up {
  flex-grow: 0;
  display:flex;
  color: $purple;
}

li {
  list-style-type: none;
}

.nav-item1:hover {
  padding: 8px 24px;
  // border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  color: $purple;
  text-decoration: none;
}

.nav-item1 {
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  color: red;
  transition: opacity 0.3s ease;
  border-color: $red;
}

.nav-item2:hover {
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  color: white;
  background-color: $purple;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  border-color: $purple;
  text-decoration: none;
}

.nav-item2 {
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  color: white;
  background-color: white;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  border: 1px solid $purple;
  text-decoration: none;
  color: $purple;
}

}
.avatar {
  padding: 5%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: white 1px solid;
  border-color: $purple;
  margin-left: 4px;
  margin-top: -5%;
}

.dropdown-menu {
  border-radius: 4px;
  border: white 1px solid;
  border-color: $purple;
}

.dropdown-item {
  color: #6a6767;
}
